html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  width: 100%;
}
.bg-primary {
  background-color: maroon!important;
}
container {
  width: 100%;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: maroon;
  color: white;
  border-radius: 5px;
  border-bottom: 4px solid slategray;
  font-size: 2em;
  font-style: normal;
}
table#inventory {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid slategray;
  border-right: 2px solid slategray;
  border-left: 2px solid slategray;
  font-family: 'Open Sans';
}
table#inventory th {
  border: 2px solid #500000;
  font-weight: bold;
  background-color: slategray;
  color: white;
}
table#inventory th, table#inventory td {
  padding: 4px;
  text-align: left;
}
table#inventory td {
  border-bottom: 2px solid;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #500000;
}
/*Highlights columns that are sorted*/
table#inventory th.hilite {
  background-color: #500000;
  color: white;
}

@media (min-width: 720px)
{
  max-width: unset;
}